body {
  font-family: Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: #333;
  background-color: #f5f5f5;
  -webkit-text-size-adjust: 100%;
}
#index_wrapper {
  margin-top: 18px;
  margin-bottom: 30px;
  padding: 35px;
  background-color: #fff;
}
#indexlist {
  border: dashed 2px #ddd;
  padding: 10px;
  width: auto;
  max-width: 90%;
  min-width: 290px;
  background-color: #f9f9f9;
}
