/* リセットCSS */
body{
  font-size: 14px;
  color: #494949;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, p{
  padding: 10px 0;
  margin: 0;
}
ul, li{
  padding: 0;
  margin: 0;
}

/* javascript */
.sa {
  opacity: 0;
  transition: all 1s ease;
}
.sa.show {
  opacity: 1;
  transform: none;
}
.sa--up {
  transform: translate(0, 20px);
}
.sa--down {
  transform: translate(0, -100px);
  transition: .5s;
}
.sa--scaleUp {
  transform: scale(.5);
}

.slide_1, .slide_4{
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: 2;
}
.slide_2, .slide_6{
  background-color: #ACA285;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: 2;
}
.slide_1.show, .slide_2.show, .slide_5.show{
  transform: translate(100%, 0);
  transition: .7s;
}
.slide_3, .slide_5{
  background-color: #C5BEA9;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: 2;
}
.slide_3.show, .slide_4.show, .slide_6.show{
  transform: translate(-100%, 0);
  transition: .7s;
}

*{
  box-sizing: border-box;
}
body{
  font-size: 15px;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}
.s20{
  font-size: 20px;
}
.gold{
  color: #ACA285;
}
.bo{
  font-weight: bold;
}
/* ---------------------------------- header ---------------------------------- */
header{
  padding: 10px 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_name{
  letter-spacing: 3px;
}
.header_link a{
  letter-spacing: 10px;
  padding: 10px 30px 10px 40px;
  border-radius: 15px;
  background-color: #ACA285;
  text-decoration: none;
  color: white;
}
/* ---------------------------------- catch ---------------------------------- */
.catch{
  height: 650px;
  background: url(images/14-min.png) no-repeat center;
  background-size: cover;
  color: white;
  text-align: center;
}
.catch_mask{
  height: 100%;
  padding-top: 150px;
  background: rgba(0, 0, 0, 0.2);
}
.catch a{
  margin-top: 50px;
  letter-spacing: 10px;
  padding: 10px 90px 10px 100px;
  border-radius: 15px;
  background-color: #ACA285;
  text-decoration: none;
  color: white;
  display: inline-block;
}
.catch_1{
  padding: 0;
}
.catch_2{
  font-size: 50px;
  letter-spacing: 10px;
  padding: 0;
}
.catch_3{
  margin-top: 40px;
}
/* ---------------------------------- message ---------------------------------- */
.message{
  text-align: center;
}
.message img{
  width: 90%;
  margin-top: 120px;
}
.message p{
  margin: 50px 0 120px 0;
}
/* ---------------------------------- sympathy ---------------------------------- */
.content_1{
  position: relative;
  overflow: hidden;
}
.image{
  height: 205px;
  position: relative;
}
.comment_1{
  position: absolute;
  top: 175px;
  height: 60px;
  width: 85%;
  line-height: 60px;
  border-radius: 0px 24px 24px 0px / 0px 24px 24px 0px;
  text-align: center;
  color: white;
  z-index: 1;
}
.text_1{
  display: flex;
  justify-content: center;
  padding: 70px 20px 40px 20px;
  position: relative;
}
.sympathy .image{
  background: url(images/2-min.png) no-repeat center center;
  background-size: cover;
}
.sympathy .comment_1{
  background-color: #C5BEA9;
}
/* ---------------------------------- benefit ---------------------------------- */
.content_2{
  position: relative;
  overflow: hidden;
}
.comment_2{
  position: absolute;
  top: 175px;
  right: 0px;
  height: 60px;
  width: 85%;
  line-height: 60px;
  border-radius: 24px 0px 0px 24px / 24px 0px 0px 24px;
  text-align: center;
  color: #ACA285;
  background-color: white;
  z-index: 1;
}
.text_2{
  position: relative;
  display: flex;
  justify-content: center;
  padding: 70px 20px 40px 20px;
  color: white;
}
.benefit .image{
  background: url(images/3-min.png) no-repeat center center;
  background-size: cover;
}
.benefit .text_2{
  background-color: #C5BEA9;
}
/* ---------------------------------- select ---------------------------------- */
.select .image{
  background: url(images/4-min.png) no-repeat center center;
  background-size: cover;
}
.select .comment_1{
  background-color: #ACA285;
}
/* ---------------------------------- voice ---------------------------------- */
.voice .image{
  background: url(images/5-min.png) no-repeat center center;
  background-size: cover;
}
.voice .text_2{
  background-color: #ACA285;
}
/* ---------------------------------- introduction ---------------------------------- */
.introduction .image{
  background: url(images/6-min.png) no-repeat center center;
  background-size: cover;
}
.introduction .comment_1{
  background-color: #C5BEA9;
}
/* ---------------------------------- thoughts ---------------------------------- */
.thoughts .image{
  background: url(images/7-min.png) no-repeat center center;
  background-size: cover;
}
.thoughts .text_2{
  background-color: #C5BEA9;
}
/* ---------------------------------- support ---------------------------------- */
.support{
  background-color: #ACA285;
  padding: 80px 5% 50px 5%;
  margin: 70px 0;
  overflow: hidden;
}
.support_p_re{
  position: relative;
}
.support_p{
  font-size: 35px;
  color: white;
  font-weight: bold;
}
.support_img{
  height: 200px;
  width: 100%;
}
.support_content{
  background-color: white;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* ---------------------------------- mental ---------------------------------- */
.mental_p_re{
  position: relative;
}
.mental_p{
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: 100px 0 20px 0;
}
.mental .mental_p{
  margin: 30px 0 20px 0;
}
.mental_content_p_1{
  font-size: 25px;
  font-weight: bold;
}
.mental_img_1{
  background: url(images/8-min.png) no-repeat center center;
  background-size: cover;
}
.triangle{
  border-top: 30px solid white;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  width: 100px;
  margin: 20px auto;
}
.mental_img_2{
  background: url(images/9-min.png) no-repeat center center;
  background-size: cover;
}
.mental_content_p_2{
  padding: 5% 2%;
}
.support_con, .mental_2{
  position: relative;
}
/* ---------------------------------- asset ---------------------------------- */
.asset_img_1{
  background: url(images/10-min.png) no-repeat center center;
  background-size: cover;
}
.asset_img_2{
  background: url(images/11-min.png) no-repeat center center;
  background-size: cover;
}
/* ---------------------------------- fee ---------------------------------- */
.fee_flame{
  height: 244px;
  width: 90%;
  max-width: 300px;
  border: 2px solid #706032;
  margin: 20px 0;
}
.fee_content{    
  height: 380px;
}
.box{
  height: 80px;
  width: 100%;
  border: 1px solid #706032;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fee_flame{
  display: flex;
}
.fee_1, .fee_2{
  width: 50%;
}
.fee_4, .fee_6, .fee_8{
  background-color: #ACA285;
  color: white;
}
.fee_3{
  flex-direction: column;
}
.fee_3 div div{
  background-color: #ACA285;
  color: white;
  width: 90px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 25px;
}
.fee_img_1{
  background: url(images/12-min.png) no-repeat center center;
  background-size: cover;
}
/* ---------------------------------- action ---------------------------------- */
.action{
  display: flex;
  justify-content: center;
}
.action a{
  letter-spacing: 10px;
  padding: 10px 90px 10px 100px;
  margin: 0 0 70px 0;
  border-radius: 15px;
  background-color: #ACA285;
  text-decoration: none;
  color: white;
}

/* ---------------------------------- 460px ---------------------------------- */
@media (min-width: 460px) {
  .none_460{
    display: none;
  }
}
/* ---------------------------------- 768px ---------------------------------- */
@media (min-width: 768px) {
  body{
    font-size: 20px;
  }
  .s20{
    font-size: 30px;
  }
  /* ---------------------------------- header ---------------------------------- */
  header {
    padding: 20px 10vw;
  }
  .header_link a {
    padding: 10px 60px 10px 70px;
  }
  /* ---------------------------------- catch ---------------------------------- */
  .catch {
    height: 770px;
    background: url(images/1-min.png) no-repeat right;
    background-size: cover;
  }
  .catch_1{
    font-size: 25px;
  }
  .catch_2 {
    font-size: 100px;
    letter-spacing: 20px;
  }
  .catch_3 {
    margin-top: 80px;
  }
  .none_768{
    display: none;
  }
  .catch a {
    margin-top: 100px;
    padding: 10px 110px 10px 120px;
  }
  /* ---------------------------------- message ---------------------------------- */
  .message img{
    width: 90%;
    margin-top: 240px;
    max-width: 1500px;
  }
  .message p{
    margin: 50px 0 240px 0;
  }
  /* ---------------------------------- sympathy ---------------------------------- */
  .content_1, .content_2{
    display: flex;
    align-items: flex-end;
  }
  .content_2{
    flex-direction: row-reverse;
  }
  .image{
    height: 630px;
    width: 50%;
  }
  .comment_1{
    right: 5%;
    height: 80px;
    width: 55%;
    line-height: 80px;
    border-radius: 32px;
    z-index: 3;
  }
  .comment_2{
    left: 5%;
    height: 80px;
    width: 55%;
    line-height: 80px;
    border-radius: 32px;
    z-index: 4;
  }
  .text_1, .text_2{
    width: 50%;
    height: 630px;
    padding: 5%;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 3;
  }
  .sympathy_text{
    padding: 0 0 200px 13%;
  }
  /* ---------------------------------- benefit ---------------------------------- */
  .benefit_text{
    padding: 0 7% 200px 0;
    justify-content: flex-end;
  }
  /* ---------------------------------- voice ---------------------------------- */
  .voice_comment{
    top: 125px;
  }
  .voice_text{
    padding: 0 5% 6% 5%;
  }
  /* ---------------------------------- introduction ---------------------------------- */
  .introduction_text{
    padding: 0 5% 8% 5%;
  }
  /* ---------------------------------- support ---------------------------------- */
  .support_p {
    font-size: 90px;
  }
  .support {
    padding: 100px 5%;
    margin: 150px 0;
  }
  /* ---------------------------------- mental ---------------------------------- */
  .support_con, .mental_2{
    display: flex;
    justify-content: center;
  }
  .support_con{
    flex-direction: row-reverse;
  }
  .support_img{
    width: 50%;
    max-width: 600px;
    height: 500px;
  }
  .support_content{
    width: 50%;
    max-width: 600px;
    height: 500px;
  }
  .mental_p_re{
    width: 500px;
    margin: 0 auto;
  }
  .mental_p {
    font-size: 45px;
    margin: 150px 0 50px 0;
  }
  .mental .mental_p{
    margin: 50px 0;
  }
  .triangle {
    border-top: 60px solid white;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    width: 200px;
    margin: 50px auto;
  }
  .mental_content_p_2 {
    padding: 5%;
  }
  /* ---------------------------------- asset ---------------------------------- */
  
  /* ---------------------------------- fee ---------------------------------- */
  .box{
    height: 120px;
  }
  .fee_flame{
    height: 364px;
    max-width: 400px;
    font-size: 18px;
  }
  .fee_3 div div{
    width: 130px;
  }
  /* ---------------------------------- action ---------------------------------- */
  .action a{
    margin: 0 0 150px 0;
    letter-spacing: 20px;
    padding: 20px 140px 20px 160px;
    border-radius: 32px;
  }
}

/* ---------------------------------- 820px ---------------------------------- */
@media (min-width: 820px) {
  .fee_flame{
    font-size: 20px;
  }
}
/* ---------------------------------- 900px ---------------------------------- */
@media (min-width: 900px) {
  .none_900{
    display: none;
  }
  .voice_comment {
    top: 175px;
  }
}
